@import url(fontawesome/css/font-awesome.min.css);

/* fontawesome */
[class*="fa-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* GENERAL PROPERTIES The rules below define general CSS properties
   that are necessary for complex widget (toolbar, tabs, resizable
   panel) to work.

   Element should only be accessed by (pseudo-)class selectors,
   never by id.

*/

body {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
:root {
    /* All size should be computed using border-box (i.e. including border
  and padding in the size calculation) */
  box-sizing: border-box;
}

*, *:before, *:after {
  /* to have the intuitive behaviour that changing the box-sizing: of a parent
     changes the one of its descendant */
  box-sizing: inherit;
}

.why3-hidden {
    /* hidden elements that still need to be "rendered" (i.e. display:none is not an option) */
    z-index:-10;
    position:absolute;
    top:0;
    left:0;
    height:0;
    width:0;
}

.why3-container {
    /* Element that contain other UI elements */
    padding:0;
    margin:0;
}

.why3-widget {
    /* No generic property, mainly used for styling UI elements */
}

.why3-split-panel {
    /* A split panel with two containers and one resize bar in the middle.
       Can be vertical or horizontal */
    display:flex;
    align-items:stretch;
}
.why3-split-panel.why3-wide-view {
    /* in wide-view mode, panels are side by side */
    flex-direction: row;
}
.why3-split-panel.why3-column-view {
    /* in column mode, panels are one above the other */
    flex-direction: column;
}
.why3-split-panel > * {
    flex-grow:1;
    width: auto;
    height: auto;
}

.why3-split-panel > .why3-resize-bar {
    flex-grow: 0;
    flex-basis: 3pt; /* some default width that can be overriden */
}

.why3-split-panel.why3-wide-view > .why3-resize-bar {
    cursor: ew-resize;
}
.why3-split-panel.why3-column-view > .why3-resize-bar {
    cursor: ns-resize;
}

.why3-tab-group {
    position: relative;
}
.why3-tab-group > .why3-tab-label:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align:middle;
}

.why3-tab-group > .why3-tab-label {
    display: inline-block;
    vertical-align:middle;
    height: 20pt;
    z-index:2;
    position: relative;
    top:1pt;
}

.why3-tab-group > .why3-tab-label.why3-inactive {
    z-index:0;
}

.why3-tab-group > .why3-tab {
    position:absolute;
    left: 0;
    top: 20pt; /** should match the height of .why3-tab-label **/
    bottom:0;
    right: 0;
    z-index:1;

}
.why3-tab-label.why3-inactive + .why3-tab {
    z-index:0;
}
.why3-contextmenu {
    /* hiddent by default, should be a child of the body element */
    display:none;
    position: absolute;
    z-index: 500; /* in front of everything */
}
.why3-contextmenu ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

.why3-dialog-container {
    display:none; /* should become flex */
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    position:absolute;
}

.why3-dialog-container:before {
    content: "";
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 501;
    opacity: 0.75; /* can be customized */
}

.why3-dialog {
    position:relative;
    z-index:502;
    flex-grow:0;
}
.why3-dialog > .why3-widget {
    display:none;
}

.why3-button-bar {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.why3-button-bar > .why3-button-group {
    float:left;
    display: inline-block;
}

/* SPECIFIC PAGE LAYOUT : The rules below define the page layout. Element should
   be accessed by at least one specific ID along the selector path.

*/
#why3-main-container {
    /* Fills the whole window */
    display: flex; /* tells the children with flex:i
                      to fill-up the remaining space.
                      non flex children will be sized
                      according to content;
                  */
    flex-direction:column;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#why3-top-button-bar {
    flex-grow: 0;
    flex-basis: 24pt;
    box-sizing: content-box;
}
#why3-top-button-bar * {
    box-sizing: border-box;
}
#why3-top-button-bar > .why3-button-group {
    height: 24pt; /* flex-basis above; */
}

#why3-top-button-bar .why3-button,
.why3-dialog .why3-button {
    font-size:12pt;
    height: 20pt;
    width: 20pt;
    margin-top: 2pt;
    padding: 0;

}
#why3-top-button-bar #why3-select-example {

    width: 8em;
}
#why3-main-panel {
    width:100%;
    padding:0;
    margin:0;
    flex: 1;
}
#why3-top-button-bar > .why3-button-group {
    padding-left: 1em;
    padding-right: 1em;
}
#why3-top-button-bar > .why3-button-group:last-child {
    float:right;
    padding-left: 1em;
    padding-right: 1em;
}
#why3-editor-container {
    position:relative;
    flex-grow:2;
}
#why3-tab-container {
    flex-grow:1;
    position:relative;
    margin:0;
    padding:0;

}

#why3-editor {
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
#why3-editor-bg {
    display:none;
    position:absolute;
    opacity:0.75;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
}
#why3-editor-bg:hover {
    cursor:progress;
}
#why3-tab-panel {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:0;
    margin:0;
}

#why3-task-viewer {
    width:100%;
    height:100%;
}

/* STYLE : The rules below define the visual style (colors, background, borders, effects, …)
   They can be customized in trywhy3_custom.css
*/


.why3-button-bar,
.why3-tab-label,
.why3-tab,
.why3-button,
.why3-button-group,
.why3-contextmenu {
    border-color:  #aaa;
    border-width: 1pt;
    color: #555;
}
.why3-button {
    border-style:hidden;
    background: transparent;
}
.why3-button-group {
    vertical-align: middle;
    border-right-style: solid;
}
.why3-button:hover,
#why3-top-button-bar #why3-select-example {
    border-style: solid;
    border-radius: 2pt;
}

.why3-button-group:last-child {

    border-right-style: none;
    border-left-style: solid;
}
.why3-button-bar {
    background-image: linear-gradient(to bottom, #fff 2%, #eee);
    border-bottom-style:solid;
    border-top-style:solid;
    margin-top: 2pt;
    margin-bottom: 2pt;
}
.why3-tab-label {
    border-style: solid;
    border-bottom-style: none;
    border-radius: 2pt 2pt 0 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
}
.why3-tab-label:not(.why3-inactive),
.why3-tab
{
    background:#fff;
    border-top-style:solid;
}

.why3-tab-label.why3-inactive,
.why3-tab-label.why3-inactive + .why3-tab,
.why3-container,
.why3-contextmenu,
.why3-dialog,
.why3-dialog-container:before {
    background: #eee;
}
.why3-contextmenu, .why3-dialog {
    box-shadow: 0pt 0pt 3pt #555;
}
.why3-contextmenu ul,
.why3-dialog ul
{
    padding: 0.1em;
    list-style-type:none;
}
.why3-contextmenu li:hover {
    background: #555;
    color: #fff;
}
.why3-dialog {
    padding: 1em;
}

#why3-task-list ul {
    list-style-type:none;
}
#why3-task-list li {
    padding-left:1em;
    padding-top:1em;
}
/* tasks icons */
.why3-task-pending {
    color: blue;
}
.why3-task-valid {
    color:green;
}
.why3-task-unknown {
    color:orange;
}
.why3-task-selected {
    background:rgba(250,220,90,0.7);
}

/* ACE Editor */

.ace_gutter-cell.ace_error {
    background-image:none !important;
}
.ace_gutter-cell.ace_error:before {
    content:"\f057";
    font-family: 'FontAwesome', sans-serif;
    position:absolute;
    left:0.1em;
    color:rgba(231,113,116,1);
}
.ace_gutter-cell.ace_warning {
    background-image:none !important;
}
.ace_gutter-cell.ace_warning:before {
    content:"\f06a";
    font-family: 'FontAwesome', sans-serif;
    position:absolute;
    left:0.1em;
    color:rgba(233,150,122,1);
}

.why3-error {
    position:absolute;
    background:rgba(231,113,116,1);
    z-index:70;
}
.why3-msg {
}

.why3-loc-neg-premise {
    position:absolute;
    background:rgba(255,128,64,1);
    z-index:60;
}

.why3-loc-goal {
    position:absolute;
    background:rgba(64,191,255,1);
    z-index:50;
}
.why3-loc-premise {
    position:absolute;
    background:rgba(100,233,134,1);
    z-index:40;
}

#why3-editor,
#why3-task-viewer {
    font-size: large;
}
